body{
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: 'Raleway',sans-serif;
}

.banner{
    height: 100vh;
    width: 100%;
    background:url(/overlay.png),url('/hyrule.jpg');
    background-position: top;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}

.banner .navbar{
    margin-top: 3%;
}

.banner .navbar-brand{
    color: #fff;
    font-size: 1.9em;
    font-weight: 700;
    margin-left: 8%;
}

.banner .nav{
    margin-right: 8%;
}

.nav-link{
    color: #eee;
    font-size: 1.2em;
}

.nav-link:hover{
    color: #c8e88c;
    text-decoration: underline;
}

.banner .info{
    margin-top: 15%;
    transform: translateY(-15%);
}

.banner .info h1{
    font-size: 2.8em;
    font-weight: 1000;
    color: rgb(34, 34, 34);
    letter-spacing: 3.5px;
}

.banner .info p{
    font-size: 1.8em;
    font-weight: 200;
    color: rgb(34, 34, 34);
}

.banner .info a{
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: chartreuse;
    padding: 10 20;
    font-size: 2em;
    font-weight: 800;
}

.banner .info a:hover{
    color: #eee;
    background-color: rgb(61, 120, 3);
}